{% extends "layout.html" %}

{% block title %}
	homepage
{% endblock %}

{% block body %}
		<header>
			<nav>
				<div class="row clearfix">
					<img src ="/static/logooo.png" class ="logo">

					<ul class = "main-nav animated slideInDown">
						{% if session.user_id %}
						<li> <a href="/maintenance">Cake Delivery</a></li>
						<li> <a href="/maintenance">Chocolates Delivery</a></li>
						<li> <a href="/logout">Log out</a></li>
						{% else %}
						<li> <a href="/register">Register</a></li>
						<li> <a href="/login">Log in</a></li>
						{% endif %}
					</ul>

			<a href="#" class="mobile-icon" onclick="slideshow()"> <i><i class="fa fa-bars"></i></i></a>
				</div>
			</nav>

			<div class="main-content-header">
			<h1> WELCOME TO <span class="colorchange"> RAO'S BAKERY</span> <br>
			Halt for creating memories!!!  </h1>
			{% if session.user_id %}
			<a href="/book" class="btn btn-full"> Click to order</a>
			<a href="/maintenance" class="btn btn-ful"> Feedback </a>
			{% endif %}
			</div>

		</header>
{% endblock %}
